/* Указываем box sizing */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
   padding: 0;
   list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class и без атрибута*/
ul[class],
ol[class] {
   list-style: none;
}
ul,
ol{
   list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a{
   text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
   max-width: 100%;
   display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
   margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
   font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
   animation-duration: 0.01ms !important;
   animation-iteration-count: 1 !important;
   transition-duration: 0.01ms !important;
   scroll-behavior: auto !important;
   }
}
/* ========================================================== */

.container{
   position: relative;
   max-width: 1110px;
   margin: 0 auto;
}
.page{
   max-width: 1920px;
   max-height: 950px;
}
.page-header{
   background-image: url(../image/bgc.png);
   background-position: center;
   padding-bottom: 30px;
}

/*===== Шапка сайта =====*/
.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 77px;
   padding-top: 25px;
}

/*===== Меню =====*/
.block1{
   width: 329px;
   height: 21px;
}
.menu__link{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30.5px;

   position: absolute;
}
.menu__item{
   position: relative;

   font-family: "Montserrat";
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   letter-spacing: 0%;
   color: #FFFFFF;

   transition-duration: 0.3s;
}
.menu__item:hover{
   color: rgba(202, 230, 48, 0.842);
}
/*===== Логотип =====*/
.logo{
   width: 216px;
   height: 52px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-left: 100px;
   margin-right: 50px;
}
.logo__img{
   position: relative;

   width: 19.96px;
   height: 19.9px;
}

/*===== Поиск и Регистрацыя =====*/
.block3{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 28px;
   margin-right: 22px;
}
.search{
   display: flex;
   align-items: center;
   gap: 7px;
}
.search__block{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 78px;
   height: 24px;
}
.search__btn{
   position: relative;
   background: none;
   border: none;
   padding: 0;
}
.search__txt{
   position: relative;

   font-family: "Montserrat";
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #FFFFFF;

   width: 100%;
   max-height: 21px;

   background: none;
   border: none;
}
.registr{
   position: relative;
   font-family: "Montserrat";
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   letter-spacing: 0%;

   width: 135px;

   color: #FFFFFF;
}

/*===== Иконки =====*/
.block4{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 25px;
   margin-left: 22px;
}

/*===== Текст и кнопка =====*/
.header-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 50px;

   margin-top: 523px;

}
.header-title__txt{
   font-family: "Noto Serif";
   font-weight: 700;
   font-size: 36px;
   line-height: 49px;
   letter-spacing: 0%;
   color: #FFFFFF;
}
/*===== Кнопка =====*/
.header-title__link{
   display: block;
   box-sizing: border-box;
   border: 1px solid rgb(255, 255, 255);
   background: rgb(51, 51, 51);

   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 10%;
   color: #FFFFFF;
   text-transform: uppercase;

   padding: 15px 35px;
   transition-duration: 0.3s;
   margin-bottom: 78.5px;
}
.header-title__link:hover{
   background: rgb(65, 65, 75);
}

/*===== Картинки =====*/
.header-foot{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30.5px;
   margin-bottom: 30px;
}
.header-foot__img:not(:last-child){
   border-right: 1px solid rgb(255, 255, 255);
   padding-right: 15px;
}

/*===== Мероприятия =====*/
.events{
   padding-bottom: 120px;
}
/*===== Заголовок блока мероприятия =====*/
.evants__title{
   text-align: center;
   margin-top: 100px;

   font-family: "Montserrat";
   font-weight: 400;
   font-size: 21px;
   line-height: 140%;
   letter-spacing: 0%;
   color: rgb(51, 51, 51);
}
.events__subtitle{
   text-align: center;
   margin-top: 15px;

   font-family: "Montserrat";
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   letter-spacing: 0%;
   color: rgb(51, 51, 51);
}

/*===== меню услуг =====*/
.list-events{
   margin-top: 60px;
}
.list-events__menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 24px;
}
.list-events__itam{
   display: block;
   width: 165px;
   height: 55px;
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: 10%;
   text-align: center;
   text-transform: uppercase;
   color: rgb(51, 51, 51);
   padding: 16px 0 16px 0;

   box-sizing: border-box;
   border: 1px solid rgb(214, 214, 214);
   background: rgb(249, 249, 249);

   transition-duration: 0.6s;
}
.list-events__itam:hover{
   color: rgb(255, 255, 255);
   background: rgb(51, 51, 51);
}

/*===== фото украшений =====*/
.decoration-images{
   margin-top: 55px;
}
.decoration-images__list{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
}
.decoration-images__itam{
   display: block;
   width: 350px;
   height: 280px;

   text-align: center;
   padding-top: 222px;
   padding-bottom: 29px;

   font-family: "Montserrat";
   font-weight: 500;
   font-size: 24px;
   line-height: 29px;
   letter-spacing: 10%;
   text-transform: uppercase;

   color: rgb(255, 255, 255);
}
/*===== украшения =====*/
.rings{
   background-image: url("../image/images-events/rings.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.rings:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* ============ */
.serrings{
   background-image: url("../image/images-events/serrings.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.serrings:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* =============== */
.pendants{
   background-image: url("../image/images-events/pendants.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.pendants:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* =============== */
.cufflinks{
   background-image: url("../image/images-events/cufflinks.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.cufflinks:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* ===================== */
.bracelets{
   background-image: url("../image/images-events/bracelets.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.bracelets:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* ===================== */
.watch{
   background-image: url("../image/images-events/watch.png");
   border: 2px solid #FFFFFF;
   transition-duration: 0.3s;
}
.watch:hover{
   border: 2px solid rgb(209, 221, 98);
}
/* ======================================== */
/*===== локация =====*/
.location-salons{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;

   background: #333333;
   color: #FFFFFF;
   padding-top: 100px;
   padding-bottom: 100px;
   text-align: center;
}
/*===== Блок =====*/
.block{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   max-width: 730px;
}
/* Заголовок */
.block__title{
   font-family: "Montserrat";
   font-size: 21px;
   font-weight: 400;
   line-height: 140%;
   letter-spacing: 0%;

   margin-bottom: 15px;
}
/* Подзаголовок */
.block__subtitle{
   font-family: "Noto Serif";
   font-size: 30px;
   font-weight: 700;
   line-height: 41px;
   letter-spacing: 0%;

   margin-bottom: 45px;
}
/* текст */
.block__text{
   font-family: "Montserrat";
   font-size: 18px;
   font-weight: 400;
   line-height: 140%;

   margin-bottom: 35px;
}
/* кнопка */
.block__btn{
   display: block;
   box-sizing: border-box;
   max-width: 245px;
   text-align: center;

   font-family: "Montserrat";
   font-size: 18px;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: 10%;
   text-transform: uppercase;
   color: rgb(51, 51, 51);

   background: rgb(255, 255, 255);
   border: 1px solid rgb(51, 51, 51);

   padding: 15px 35px;
   transition-duration: 0.3s;
}
.block__btn:hover{
   background: rgb(180, 243, 243);
   color: rgb(10, 32, 13);
}

/*===== Советы =====*/
.advice{
   padding: 120px 0 120px 0;
   text-align: center;
}
